body {
  margin: 0;
}

p {
  display: block;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 20px;
  line-height: 30px;
  color: rgba(51, 51, 51);
}

.topBar-container {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  flex-flow: row wrap;
}

.logo-container {
  width: 50%;
  text-align: center;
}

.logo {
  max-width: 100%;
  width: 230px;
}

.topBar-title {
  font-size: 14.25px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
}

.topBar-subscribe {
  border-radius: 3px;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
}

.topBar-account {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.postHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postHeader-image{
  text-align: center;
  width: 80%;
}

.postHeader-image > img{
  max-width: 75%;
}

.postHeader-title {
  text-align: center;
  width: 50%;
  margin-left: 7%;
}

.postHeader-title > h4 {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  font-weight: 700;
}

.postHeader-subtitle {
  text-align: center;
  width: 80%;
}

.postHeader-subtitle > p {
  margin-left: 12%;
  margin-right: 7%;
  color: rgba(102,102,102);
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  max-width: 75%;
}

.postContent {
  display: grid;
  grid-template-columns: 35% auto 35%;
}

.post-content-article {
  display:grid;
  grid-template-rows: auto auto auto;
}

.article-text {
  text-align: justify;
}

.editor-pick {
  display: flex;
  flex-direction: column;
}

.editor-pick-article {
  display: flex;
  align-items: center;
}

.editor-pick-article > img {
  width: 25%;
  height: 25%;
}

.editor-pick-article > h4 {
  margin-left: 5%;
}

}
.article-text-row-3 > p > span {
  font-weight: 700 !important;
}
.author {
  display: flex;
  flex-direction: column;
}

.datetime {
  display: flex;
  justify-content: space-between;
}
.datetime li {
  list-style: none;
  display: inline-block;
}

.datetime ul li {
  display: inline-block;
  padding-left: 20px;
}

.more-articles {
  text-align: center;
}

.more-articles a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.article-video span {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  margin-right: 7px;
}

#credit {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color:#888;
}

.telescope img {
  max-width: 100%;
}
.telescope div {
  margin-left: 0px;
  margin-right: 20px;
  color: #666;
}


#Bicep-telescope-des {
  font-size: 0.9375rem;
}

#Bicep-telescope-des + span{
  font-size: 0.8125rem;
}

.third-column {
  display: flex;
  align-items: center;
}

.row-2-right {
  width: 60%;
  margin-left: 20%;
}
